.order-btn
  height: 70px
  background: #F8CE4C
  border-radius: 4px
  font-weight: 600
  font-size: 18px
  text-align: center
  color: #282827
  padding: 28px 25px
  line-height: 22px
  border: none
  display: flex
  align-items: center
  justify-content: center
  &_search
    width: 524px
  &_calc
    width: 33%
  &_cities
    width: 386px
  &_contact-form
    width: 100%
    margin-bottom: 30px
  &_format
    width: 100%